.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main input {
  width: 90%;
  border: 2px solid gray;
  outline: none;
  border-radius: 25px;
  padding: 0.5rem;
}

.main input:focus-visible {
  border-color: #3b9add;
}

.main input[type="search"]::-webkit-search-decoration,
.main input[type="search"]::-webkit-search-cancel-button,
.main input[type="search"]::-webkit-search-results-button,
.main input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.input-block {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .invalid {
  border-color: #e10e0e;
  background-color: #fddddd;
}

.main .invalid:focus {
  border-color: #ff5500;
  background-color: #fbe8d2;
}

.main .error-text {
  color: #FB7D7D;
}

.main form button {
  display: block;
}

@media screen and (min-width: 46.25em) {
  .input-block {
    width: 50%;
  }
}