.main {
  padding: 1rem 2rem;
  margin: 0;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main form {
  width: 65%;
}

.main input {
  width: 100%;
}

.input-block {
  margin-bottom: 1rem;
}

.invalid {
  border: 2px solid #e10e0e;
  background-color: #fddddd;
}

.invalid:focus {
  border-color: #ff5500;
  background-color: #fbe8d2;
}

.error-text {
  color: #e10e0e;
}

.main form button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (min-width: 30em) {
  .main {
    margin: 3rem 0;
  }

  .input-block {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
}
