.toolbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #282828;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.toolbar > * {
  margin-right: 1rem;
}

.toolbar-fullscreen {
  position: absolute;
  right: 0;
}

.form {
  width: 100%;
}

.form input:not(:first-child) {
  margin-top: 0.5rem;
}

.modal-buttons {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.select {
  border: 2px solid gray;
  outline: none;
  border-radius: 25px;
  padding: 0.5rem;
  width: 100%;
}

.select:invalid {
  border-color: #de5452;
}

.select:focus {
  border-color: #3b9add;
}

.select[type="search"]::-webkit-search-decoration,
.select[type="search"]::-webkit-search-cancel-button,
.select[type="search"]::-webkit-search-results-button,
.select[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.option {
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  padding: 0.3rem 1rem;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition:
    transform 50ms ease-out,
    background-color 50ms ease-out;
}

.option:first-child {
  margin-left: 1rem;
}

.option:active {
  background-color: #343434;
}

.toolbar-fullscreen:active {
  transform: scale3d(0.9, 0.9, 0.9);
}

.option:focus-visible {
  background-color: #343434;
}

.highlight {
  background-color: #3f3f3f;
}

@media screen and (min-width: 46.25em) {
  .option:hover {
    background-color: #343434;
  }
}
