.editor {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background-color: #363636;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.workspace-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.workspace-container::-webkit-scrollbar {
    background-color: #444;
    width: 0.8rem;
}

.workspace-container::-webkit-scrollbar-thumb {
    background-color: #555555;
}

.workspace-container::-webkit-scrollbar-thumb:hover {
    background-color: #5d5d5d;
}

.workspace-container::-webkit-scrollbar-thumb:active {
    background-color: #666666;
}

.workspace-container::-webkit-scrollbar-button:vertical:end,
.workspace-container::-webkit-scrollbar-button:vertical:start {
    background-color: #4a4a4a;
    background-repeat: no-repeat;
    background-position: center;
}

.workspace-container::-webkit-scrollbar-button:vertical:start:decrement {
    background-image: url("/src/icons/caret-up-solid.svg");
}

.workspace-container::-webkit-scrollbar-button:vertical:end:increment {
    background-image: url("/src/icons/caret-down-solid.svg");
}

.workspace-container::-webkit-scrollbar-button:vertical:start:increment,
.workspace-container::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

.workspace-container::-webkit-scrollbar-button:vertical:start:hover,
.workspace-container::-webkit-scrollbar-button:vertical:end:hover {
    background-color: #5d5d5d;
}

.workspace-container::-webkit-scrollbar-button:vertical:start:active,
.workspace-container::-webkit-scrollbar-button:vertical:end:active {
    background-color: #666;
}