# HTID:15296590: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:15296590:

### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

# Disable directory browsing 
Options -Indexes

AllowOverride All

RewriteEngine on

RewriteRule home index.html
RewriteRule helikoptery home#heli
RewriteRule samoloty planes.html
RewriteRule kontakt home#contact

ErrorDocument 404 /404.html
ErrorDocument 403 /403.html