.code {
    display: inline-flex;
    width: 100%;
    min-height: 100%;
    gap: 10px;
    line-height: 20px;
    border-radius: 2px;
    padding: 20px 10px;
}

.line-numbers {
    height: 100%;
    margin-right: 0.5rem;
    text-align: right;
}

.line-numbers span {
    counter-increment: linenumber;
}

.line-numbers span::before {
    content: counter(linenumber);
    display: block;
    height: 20px;
    color: #666;
}

.content {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.code textarea {
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    border-radius: 0.3em;
    border: 0;
    outline: none;
    font-size: 1em;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    line-height: 20px;
    background: transparent;
    color: transparent;
    caret-color: #fff;
    resize: none;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    width: 100%;
    min-height: 100%;
    z-index: 1;
}

.code textarea,
.code pre {
    position: absolute;
    top: 0;
    left: 0;
}
