.option {
  padding: 0.8rem 1rem;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: transform 50ms ease-out, background-color 50ms ease-out;
  margin-top: 0.5rem;
  position: relative;
}

.option:first-child {
  margin-top: 0;
}

.option:active {
  background-color: #444444;
  transform: scale3d(0.9, 0.9, 0.9);
}

.option:focus-visible {
  background-color: #444444;
}

.highlight {
  background-color: #3f3f3f;
}

.option *:first-child {
  font-size: 1.2em;
}

@media screen and (min-width: 46.25em) {
  .option::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #363636cb;
    border-radius: 25px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: -1;
  }

  .option:hover {
    background-color: #444444;
  }

  .option *:first-child {
    margin-right: 1rem;
  }
}
