.editor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
  grid-template-columns: min-content 1fr;
  background: #3f3f3f;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}

.editor h2 {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 46.25em) {
  .editor {
    -ms-grid-columns: minmax(80px, 200px) 1fr;
    grid-template-columns: minmax(80px, 200px) 1fr;
  }

  .editor h2 {
    margin-bottom: 1.4rem;
  }

  .shrink-menu {
    -ms-grid-columns: min-content 1fr !important;
    grid-template-columns: min-content 1fr !important;
  }
}