.main {
    margin: 2rem 0;
}

.main section,
.main header {
    margin-bottom: 2rem;
}

.main h1,
.main h2 {
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 46.25em) {
    .main {
        margin: 4rem 20%;
    }
}
