.container h2 {
  font-size: 1.1em;
  margin-top: 1rem;
  font-weight: normal;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form > * {
  margin-bottom: 1rem;
}

.form-field {
  width: 70%;
}

.checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-field input {
  width: 1rem !important;
  height: 1rem !important;
  margin-bottom: 0 !important;
}

.form input {
  width: 100%;
}

.form-field:last-of-type input {
  margin-bottom: 1rem;
}

.form button {
  width: fit-content;
}

.modal-button {
  width: fit-content;
}

@media screen and (min-width: 46.25em) {
  .form-field {
    max-width: 40%;
  }
}
