.index-banner {
  width: 100%;
  background-image: url("../../img/index-banner.webp");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.index-banner > header {
  background-color: rgba(51, 51, 51, 0.7);
  padding: 1rem;
}

.index-banner > header > * {
  margin-left: 0;
  margin-right: 0;
}

.iframe {
  width: 100%;
  width: -webkit-fill-available;
  height: auto;
  border: 0;
  aspect-ratio: 16/9;
}

.video {
  padding: 1rem 0;
}

.video:first-child {
  padding-top: 0;
}

.video h5 {
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

@media screen and (min-width: 30em) {
  .index-banner > header {
    padding: 2rem 4rem;
  }

  .index-banner {
    min-height: 70vh;
    display: flex;
    align-items: center;
    padding: 4rem;
  }

  .iframe {
    max-width: 80%;
  }
}
