.index-banner {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.index-banner > header {
  text-align: center;
}

.index-banner * {
  margin-left: 0;
  margin-right: 0;
}

.index-banner img {
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  max-width: 100px;
}

.index-banner p {
  text-align: left;
}

.iframe {
  width: 100%;
  width: -webkit-fill-available;
  height: auto;
  border: 0;
  aspect-ratio: 16/9;
}

.video {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 1rem 0;
}

.video:first-child {
  padding-top: 0;
}

.video:last-child {
  padding-bottom: 0;
}

.video p {
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

@media screen and (min-width: 30em) {
  .index-banner {
    min-height: 70vh;
    background-image: url("../../img/index-banner.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 4rem;
  }

  .index-banner > header {
    background-color: rgba(65, 65, 65, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem 4rem;
  }

  .iframe {
    max-width: 80%;
  }
}
