.section {
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.section img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.section ol {
    padding: 0 1rem;
}

.section figcaption {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3rem;
    text-align: center;
}

.content li {
    margin: 2rem 0;
}

.content p {
    text-align: justify;
}

.content figure {
    margin: 1rem 0;
}