.input {
  border: 2px solid gray;
  outline: none;
  border-radius: 25px;
  padding: 0.5rem;
  width: 100%;
}

.invalid {
  border-color: #de5452;
}

.input:focus {
  border-color: #3b9add;
}

.input:focus-within {
  border-color: #3b9add;
}

.input[type="search"]::-webkit-search-decoration,
.input[type="search"]::-webkit-search-cancel-button,
.input[type="search"]::-webkit-search-results-button,
.input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea.input {
  max-width: 80vw;
  min-width: 6rem;
  min-height: 4rem;
}

@media screen and (min-width: 46.25em) {
  textarea.input {
    max-width: 60vw;
  }
}
