.footer {
  background-color: #242424;
  width: 100%;
  padding: 1rem 0;
  font-weight: 200;
  font-size: 0.9em;
  color: #bbbbbb;
}

.footer ul {
  list-style-type: none;
}

.footer ul li:first-child {
  margin-top: 0;
}

.footer ul li:last-child {
  margin-bottom: 0;
}

.footer ul li {
  margin: 0.3rem 0;
}

.footer a {
  color: #bbbbbb;
}

.bottom {
  margin-top: 1rem;
  text-align: center;
}