/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,600&display=swap");

* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-display: fallback;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: #333333;
    color: #ffffff;
}

#root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

main header {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
}

main h2:first-child,
main h3:first-child {
    margin-top: 0;
}

main h2,
main h3 {
    margin: 1.5rem 0;
}

main p {
    margin: 0.5rem 0;
}

a {
    color: #43acf7;
    text-decoration: none;
    -webkit-transition: color 50ms ease-out;
    -o-transition: color 50ms ease-out;
    transition: color 50ms ease-out;
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}

a:active {
    color: #fff;
}

@media screen and (min-width: 46.25em) {
    a:hover {
        color: #fff;
    }
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    text-align: inherit;
    background: transparent;
    -webkit-tap-highlight-color: transparent !important;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:focus:not(:focus-visible) {
    outline: none;
}
button:focus:not(:-moz-focusring) {
    outline: none;
}

.section {
    margin: 2rem 0;
    overflow: hidden;
}

.section > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.section figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.section figure img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
}

.section figcaption {
    margin-top: 0.3rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.content li {
    padding: 1rem 0;
}

.content h4 {
    margin-top: 1rem;
}

.content h4:first-child {
    margin-top: 0;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

@media screen and (min-width: 46.25em) {
    .section {
        margin: 4rem 8rem;
    }

    .section:first-of-type {
        margin-top: 2rem;
    }

    .section figure img {
        -ms-flex-item-align: start;
            align-self: flex-start;
    }

    .section ol {
        padding: 0 1rem;
    }
}