.overlay {
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background-color: #414141;
    animation: slideIn 0.2s ease-in both;
    z-index: 3;
}

.backdrop {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.2s ease-in both;
}

.overlay i {
    position: absolute;
    right: 2rem;
    top: calc(2rem - 3px);
    font-size: 2em;
}

.overlay ul {
    margin: 0;
    padding: 0;
    padding: 0 2rem;
    list-style-type: none;
    font-size: 1.2em;
}

.overlay ul li {
    padding: 1rem 0;
}

.overlay ul li:first-child {
    margin-top: 1rem;
}

.overlay footer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}