.nav {
  background-color: #414141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-height: 150px;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav > div {
  display: flex;
  align-items: center;
}

.nav > div > *:first-child {
  margin-right: 1rem;
}

.nav img {
  width: 50px;
  height: 50px;
}

.nav ul {
  list-style-type: none;
  display: flex;
}

.nav ul li {
  margin-right: 1rem;
  padding: 1rem 0;
}

.nav ul li:last-child {
  margin-right: 0;
}

@media screen and (min-width: 30em) {
  .nav img {
    width: 100px;
    height: 100px;
  }
}
