.back {
  color: #fff;
  font-size: 1.4em;
  margin-left: 1rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 46.25em) {
  .back {
    margin-left: 9rem;
    margin-top: 2rem;
    cursor: pointer;
  }

  .back > *:nth-child(2) {
    margin-left: 0.5rem;
  }

  .back > * {
    -webkit-transition: color 50ms ease-out;
    -o-transition: color 50ms ease-out;
    transition: color 50ms ease-out;
  }

  .back:hover > *,
  .back:active > * {
    color: #3b9add;
  }
}