.back {
  color: #fff;
  font-size: 1.4em;
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 46.25em) {
  .back {
    margin-left: 9rem;
    margin-top: 2rem;
    cursor: pointer;
  }

  .back > *:nth-child(2) {
    margin-left: 0.5rem;
  }

  .back > * {
    transition: color 50ms ease-in;
  }

  .back:hover > *,
  .back:active > * {
    color: #3b9add;
  }
}
